<div class="empTable">
  <mat-toolbar class="empTable__toolbar" [ngStyle]="{'background-color' :'rgb(15, 15, 92)'}">
    <div class="empTable__toolbar__title">
      <button mat-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>Employee Table</span>
    </div>

    <div class="empTable__toolbar__icons">
      <mat-slide-toggle></mat-slide-toggle>
      <div *ngIf="this.items.isEdit">
        <button mat-button (click)="onSave()">
          <mat-icon>done_outline</mat-icon>
        </button>

        <button mat-button (click)="close()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div *ngIf="!this.items.isEdit">
        <button mat-button (click)="onEdit(this.items)">
          <mat-icon> border_color</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <table mat-table [dataSource]=" dataSource" class="empTable__data" matSort>
    <!-- R1_CheckBox Column -->
    <ng-container matColumnDef="select">
      <th class="empTable__data--theader1" #checkbox mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-checkbox class="empTable__data--checkbox"
         (change)=" masterToggle()"
         [checked]="isChecked"
        
          >
        </mat-checkbox>
      </th>
   
      <td mat-cell *matCellDef="let row" class="empTable__data--checkboxData" >
        <mat-checkbox *ngIf="isChecked" class="empTable__data--checkbox"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- R1_Id Column -->
    <ng-container matColumnDef="Id">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}}</td>
    </ng-container>
    <!-- R1_FirstName Column -->
    <ng-container matColumnDef="FirstName">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>

      <td mat-cell *matCellDef="let element"><a [routerLink]="['/employee-profile']" [queryParams]="{ Id: element.Id}"
          [ngStyle]="{'text-decoration':'none'}">
          <div *ngIf="this.items.isEdit">
            <input type="text" [(ngModel)]="element.FirstName" class="form-control" />
          </div>
          <div *ngIf="!this.items.isEdit">
            {{element.FirstName }} {{element.LastName}}
          </div>
        </a>
      </td>
    </ng-container>
    <!-- R1_LastName Column -->
    <ng-container matColumnDef="DOB">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon [ngStyle]="{'color':'rgb(43, 50, 69)', 'font-size':'22'}">date_range</mat-icon> DOB
      </th>

      <td mat-cell *matCellDef="let element">
        <div *ngIf="this.items.isEdit">
          <input type="text" [(ngModel)]="element.DOB" class="form-control" />
        </div>
        <div *ngIf="!this.items.isEdit">
          {{element.DOB}}
        </div>
      </td>
    </ng-container>

    <!-- R1_Age Column -->
    <!-- <ng-container matColumnDef="Age">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.Age} </td>
    </ng-container> -->

    <!-- R1_Email Column -->

    <ng-container matColumnDef="Email">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon [ngStyle]="{'color':'rgb(43, 50, 69)', 'font-size':'22'}"> email</mat-icon>Email
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="this.items.isEdit">
          <input type="text" [(ngModel)]="element.Email" class="form-control" />
        </div>
        <div *ngIf="!this.items.isEdit">
          {{element.Email}}
        </div>
      </td>
    </ng-container>

    <!-- R1_Gender Column -->
    <ng-container matColumnDef="Gender">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>

      <td mat-cell *matCellDef="let element">
        <div *ngIf="this.items.isEdit">
          <select [(ngModel)]="element.Gender" name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div *ngIf="!this.items.isEdit">
          {{element.Gender}}
        </div>
      </td>
    </ng-container>

    <!-- R1_JobTitle Column -->
    <ng-container matColumnDef="JobTitle">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header>JobTitle</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="this.items.isEdit">
          <input type="text" [(ngModel)]="element.JobTitle" class="form-control" />
        </div>
        <div *ngIf="!this.items.isEdit">
          {{element.JobTitle}}
        </div>
      </td>
    </ng-container>

    <!--R1_ContactNumber Column -->
    <ng-container matColumnDef="ContactNumber">
      <th class="empTable__data--theader1" mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-icon [ngStyle]="{'color':'rgb(43, 50, 69)', 'font-size':'21'}"> phone</mat-icon> ContactNumber
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="this.items.isEdit">
          <input type="text" [(ngModel)]="element.ContactNumber" class="form-control" />
        </div>
        <div *ngIf="!this.items.isEdit">
          {{element.ContactNumber}}
        </div>
      </td>
    </ng-container>

    <!-- R2_CheckBox Column -->

    <ng-container matColumnDef="r2-select">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef>

      </th>
    </ng-container>

    <!--R2_Id Column -->
    <ng-container matColumnDef="r2-Id">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef></th>
    </ng-container>


    <!-- R2_FirstName Column -->
    <ng-container matColumnDef="r2-FirstName">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef>
        <mat-form-field class="empTable__data--fname" appearance="standard">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search Name" #input>

        </mat-form-field>
        <mat-icon [ngStyle]="{'color':'grey', 'margin-left':'-30px'}">search</mat-icon>
      </th>

    </ng-container>

    <!-- R2_LastName Column -->
    <ng-container matColumnDef="r2-DOB">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef>
        <!-- <mat-form-field class="empTable__data--lname" appearance="standard">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search LastName" #input>
        </mat-form-field> -->

      </th>
    </ng-container>

    <!-- R2_Age Column -->
    <ng-container matColumnDef="r2-Age">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- R2_Email Column -->
    <ng-container matColumnDef="r2-Email">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <!-- R2_Gender Column -->
    <ng-container matColumnDef="r2-Gender">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef>
        <form class="example-form">
          <!-- <mat-form-field>
            <mat-select name="Gender" [(value)]="selectedGender" placeholder="Select Gender">
              <mat-option [value]="'Male'">Male</mat-option>
              <mat-option [value]="'Female'">Female</mat-option>
            </mat-select>
          </mat-form-field> -->
        </form>
      </th>
    </ng-container>

    <!-- R2_JobTitle Column -->
    <ng-container matColumnDef="r2-JobTitle">
      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Pick JobTitle" aria-label="JobTitle" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filterOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </th>
    </ng-container>

    <!-- R2_Contact Number Column -->
    <ng-container matColumnDef="r2-ContactNumber">

      <th class="empTable__data--theader2" mat-header-cell *matHeaderCellDef> </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns_two"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="empTable--paginator" [length]="30" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 30]">
  </mat-paginator>
</div>