::ng-deep app-employeetable {

    .empTable {

        &__toolbar {
            display: flex;
            justify-content: space-between;
            color: white;

            &__title h1 {
                font-size: 30px;
            }
        }

        margin: 20px;

        &__data {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: #dfe2e1;

            &--theader1 {
                text-align: left;
                background-color: rgb(15, 15, 92);
                color: rgb(255, 255, 255);
                font-size: 18;
            }

            &--theader2 {
                background-color: rgb(190, 190, 190);
                color: rgb(15, 15, 92);
                font-size: 18;
            }

            &--checkbox {
                border: 1px solid white;
            }
        }

        &--paginator {
            background-color: rgb(15, 15, 92);
            color: rgb(255, 255, 255);
            font-size: 18;
        }
    }

    .emptable__data tr:hover {
        background-color: rgb(237, 234, 238);
    }

}