<div class="container" fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">   
            <span>Sign In</span>          
        </mat-toolbar>
    <form [formGroup]= "loginForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard" flxlayout="column">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter the username" formControlName="username" required="username" required="password required">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        
        </mat-form-field>
        <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
            <input matInput type ="password" placeholder="Enter the Password" formControlName="password" required="password required">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        
        </mat-form-field>
        <button mat-flat-button color="primary">Login</button>

    </form>
    </mat-card>
    
</div>

