<main class="slider">
  <input type="radio" #item1 name="position" checked />
  <input type="radio" #item2 name="position" />
  <input type="radio" #item3 name="position" />
  <!-- <button mat-button (click)="prev()">Prev</button>
  <button mat-button (click)="next()">Next</button>
  <input type="radio" name="position" />
  <input type="radio" name="position" /> -->
  <main id="carousel">
    <div class="item">
      <div class="circle">
        <img id="img1" src="../../assets/images/p1.png">
      </div>
      <div>
        <!-- <a href="#carousel" -->
      </div>
      <h2>Joshaphine Marrier</h2>
      <h4>(Data Coordinator)</h4>
      <p>- Request for Maintenance Work in the Office</p>
    </div>
    <div class="item">
      <div class="circle">
        <img src="../../assets/images/p3.png">
      </div>
      <h2>Art Standell</h2>
      <h4>(Quality Control Specialist)</h4>
      <p>- Need requirement of (Desktop, Printer, Laptop) in Office</p>
    </div>
    <div class="item">
      <div class="circle">
        <img src="../../assets/images/p2.png">
      </div>
      <h2>James Weiser</h2>
      <h4>(Admin Assistant)</h4>
      <p>- As the number of employees is more than the occupancy, therefore, I request you to kindly arrange some office
        space for the employees in order to ease the arrangements.</p>
    </div>
  </main>
  <button mat-button></button>
  <button mat-button></button>