<div class="container">
    <div class="profile" fxFlex="85%" fxLayout="row wrap">
        <div class="profile__content1" fxFlex="40%">
            <h1>EMPLOYEE PROFILE</h1>

            <div class="profile__content1__circle" ngFor=" let eData is in ELEMENT_DATA">
                <img src="{{emplist[0].Image}}">
            </div>
            <p>{{emplist[0].FirstName}} {{emplist[0].LastName}}</p>
            <p>{{emplist[0].JobTitle}}</p>
        </div>
        <div class="profile__content2" fxFlex="60%" fxLayout="column">
            <div class="profile__content2__edit">
                <button id="basic" type="button" mat-button (click)="onEdit()">
                    <mat-icon>edit</mat-icon>
                  </button>
             
                <!-- <button class="profile__content2__edit--editbtn" mat-flat-button color="primary" type="click"><mat-icon>edit</mat-icon></button> -->
            </div>

            <div class="profile__content2__part1">
                <table class="profile__content2__part1--tabledetails">
                    <th> Profile Details</th>
                    <tr style="color:rgb(68, 68, 70)"> Personal Details:</tr>
                    <tr>
                        <td> Id </td>
                        <td> {{emplist[0].Id}}</td>
                    </tr>
                    <tr>
                        <td>First Name </td>
                        <td> {{emplist[0].FirstName}}</td>
                    </tr>
                    <tr>
                        <td>Last Name </td>
                        <td> {{emplist[0].LastName}}</td>
                    </tr>
                    <tr>
                        <td>Possition </td>
                        <td> {{emplist[0].JobTitle}}</td>
                    </tr>
                    <tr>
                        <td>Gender </td>
                        <td> {{emplist[0].Gender}}</td>
                    </tr>
                    <tr>
                        <td>Date Of Birth </td>
                        <td> {{emplist[0].DOB }}</td>
                    </tr>
                    <tr>
                        <td>Age </td>
                        <td> {{emplist[0].DOB | age}}</td>
                    </tr>
                    <tr>
                        <td>Project Work </td>
                        <td> {{emplist[0].ProjectWork}}</td>
                    </tr>
                    <tr>
                        <td>Year of Experiance </td>
                        <td> {{emplist[0].YOExp}}</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon>thumb_up_alt</mat-icon>
                        </td>
                        <td> {{dataArr?.Rating}}</td>
                    </tr>
                    <tr style="color:rgb(68, 68, 70)">Contact Details:</tr>
                    <tr>
                        <td>
                            <mat-icon> email</mat-icon>
                        </td>
                        <td> {{emplist[0].Email}}</td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon> phonelink_ring</mat-icon>
                        </td>
                        <td> {{emplist[0].ContactNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
